.spinner-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 900;
    background-color: black;
    opacity: 30%;
}
