<div>
    <NavLink class="nav-link" href="@Path">
        @if (IconClass is not null)
        {
            <span class="@IconClass" aria-hidden="true"></span>
        }
        @Text
    </NavLink>
</div>

@code 
{
    [Parameter] public string Path { get; set; } = string.Empty;
    [Parameter] public string Text { get; set; } = "Home";
    [Parameter] public string? IconClass { get; set; } = "oi oi-arrow-thick-left";
}