.app-header {
    display: grid;
    grid-template-columns: 180px 1fr 1fr;
    position: sticky;
    gap: 15px;
    padding: 10px 20px;
}

.app-name-sector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.profile-sector {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    user-select: none;
    min-width: 180px;
    max-width: 280px;
    background-color: white;
}

.menu-item {
    display: inline;
    background-color: transparent;
    cursor: pointer;
    border: none;
    user-select: none;
    min-width: 40px;
    min-height: 30px;
    &:hover {
        background-color: lightgray;
    }
}

.username {
    display: flex;
    align-items: center;
}
